body {
  font-family: "Montserrat", "sans-serif";
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/* sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.main {
  padding: 4.5rem 0 0 0;
}

/* Headings Section*/
.big-heading {
  font-family: "Montserrat", "sans-serif";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* title section */
#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 23%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* features Section */
#features {
  position: relative;
  z-index: 1;
}

.features-box {
  padding: 4.5%;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}

/* testimonials section */
#testimonials, #press {
  background-color: #ef8172;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* press section */
#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}
.my-flex-card > div > div.card {
  height: calc(100% - 15px);
  margin-bottom: 15px;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* footer section */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 10;
}
.myCSS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.myButton {
  width: 100%;
}